*.pydevproject
*.project
*.egg-info
*.class
*.pyo
*.pyc
*.db
*.sqlite
*.DS_Store
.idea
tethysapp/mkaqx_india/.idea/libraries/R_User_Library.xml
tethysapp/mkaqx_india/.idea/misc.xml
tethysapp/mkaqx_india/.idea/mkaqx_india.iml
tethysapp/mkaqx_india/.idea/modules.xml
tethysapp/mkaqx_india/.idea/vcs.xml
tethysapp/mkaqx_india/.idea/workspace.xml
tethysapp/mkaqx_india/config.py
config.py
tethysapp/mkaqx_india/config.py
