{% extends "aqx_india/base.html" %}
{% load tethys_gizmos staticfiles %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
<link rel="stylesheet" href="https://cdn.rawgit.com/socib/Leaflet.TimeDimension/master/dist/leaflet.timedimension.control.min.css" />
<link rel="stylesheet" href="{% static 'aqx_india/css/jquery-ui.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw-src.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">

{% endblock %}
{% block global_scripts %}
{{block.super}}
<script src="{% static 'aqx_india/js/leaflet.js' %}" type="text/javascript"></script>

<script src="{% static 'aqx_india/js/iso8601.min.js' %}" type="text/javascript"></script>
<script src="{% static 'aqx_india/js/leaflet.draw-src.js' %}" type="text/javascript"></script>
<script src="{% static 'aqx_india/js/leaflet.draw-shapefile.js' %}" type="text/javascript"></script>
<script src="{% static 'aqx_india/js/leaflet.timedimension.min.js' %}" type="text/javascript"></script>
<script src="{% static 'aqx_india/js/dateformat.js' %}" type="text/javascript"></script>
<script src="{% static 'aqx_india/js/L.Map.Sync.js' %}" type="text/javascript"></script>
<script src="{% static 'aqx_india/js/leaflet-clonelayer.js' %}" type="text/javascript"></script>
<script src="{% static 'aqx_india/js/L.Control.Layers.Minimap.js' %}" type="text/javascript"></script>
<script src="{% static 'aqx_india/js/leaflet.wms.js' %}" type="text/javascript"></script>
<script src="{% static 'aqx_india/js/leaflet-side-by-side.min.js' %}" type="text/javascript"></script>
<script src="{% static 'aqx_india/js/shp.min.js' %}" type="text/javascript"></script>
<script src="{% static 'aqx_india/js/leaflet.shpfile.js' %}" type="text/javascript"></script>
<script src="{% static 'aqx_india/js/leaflet.browser.print.min.js' %}" type="text/javascript"></script>
<script src="https://unpkg.com/esri-leaflet@2.3.3/dist/esri-leaflet.js"
  integrity="sha512-cMQ5e58BDuu1pr9BQ/eGRn6HaR6Olh0ofcHFWe5XesdCITVuSBiBZZbhCijBe5ya238f/zMMRYIMIIg1jxv4sQ=="
  crossorigin=""></script>
<script src="{% static 'aqx_india/js/zingchart.min.js' %}" type="text/javascript"></script>
<script src="{% static 'aqx_india/js/chroma.min.js' %}" type="text/javascript"></script>
<script src="{% static 'aqx_india/js/jquery-ui.js' %}" type="text/javascript"></script>
<script src="{% static 'aqx_india/js/jquery.mtz.monthpicker.js' %}" type="text/javascript"></script>
<script src="{% static 'aqx_india/js/easy-button.js' %}" type="text/javascript"></script>
<script src="{% static 'aqx_india/js/select2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'aqx_india/js/highstock.js' %}" type="text/javascript"></script>
<script src="{% static 'aqx_india/js/highcharts-more.js' %}" type="text/javascript"></script>
<script src="{% static 'aqx_india/js/exporting.js' %}" type="text/javascript"></script>
<script src="{% static 'aqx_india/js/export-csv.js' %}" type="text/javascript"></script>
<script src="{% static 'aqx_india/js/no-data-to-display.js' %}" type="text/javascript"></script>


{% endblock %}
{% block header_buttons %}
<div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Graph">
   <img src="{% static 'aqx_india/images/servir-logo.png' %}" width="100px" height="20px" style="filter:brightness(220%);">
</div>
<div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Graph">
   <a data-toggle="modal" data-target="#chart-modal"><span class="glyphicon glyphicon-stats"></span></a>
</div>
<div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
   <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
</div>
{% endblock %}
{% block app_navigation_items %}
<br>
<label style="font-size: 20px;width:100%;text-align: center">Select Data</label>

<br>
<label>
Type of Dataset
</label>
<select  class="run_table" name="run_table" id="run_table" style="width: 100%">
</select>
<div class="hidden">
   <label>
   Select Frequency
   </label>
   <select  class="freq_table" name="freq_table" id="freq_table" style="width: 100%">
   </select>
   <br>
   <label>
   Select Run Date
   </label>
   <select  class="rd_table" name="rd_table" id="rd_table" style="width: 100%">
   </select>
</div>
<br>
<label>
Variable
</label>
<select  class="var_table" name="var_table" id="var_table" style="width: 100%">
</select>
<br>
<br>
<label id="swText1" class="formText"> Show Ground Stations </label>
<label class="switch">
<input type="checkbox" checked id="toggleLayer">
<span class="slider round"></span>
</label>
<br>
<p> Note: Date/Time for GEOS datasets shown in Indian Std.Time</p>
<label class="formText">
Forecast Initialization Date
</label>
<select  class="style_table form-control" name="date_table" id="date_table" style="width: 100%">
</select>
<label class="formText">
Show Data for
</label>
<select  class="style_table form-control" name="hour_table" id="hour_table" style="width: 100%">
</select>
<br>
<br>
<label style="width: 100%;border-bottom: 1px solid black;"></label>
<br>
<label style="font-size: 20px;width:100%;text-align: center">Visualization Control</label>
<br>
<label  class="formText">Data Values</label><br>
<label for="range-min" style="font-weight: 100">Min</label>
<input type="text" class="form-control" id="range-min" name="range-min" style="width: 100%">
<label for="range-max" style="font-weight: 100">Max</label>
<input type="text" class="form-control" id="range-max" name="range-max" style="width: 100%">
<label>
Select Color Scheme
</label>
<select  class="style_table" name="style_table" id="style_table" style="width: 100%">
</select>
<br>

<label id="opacity-label" >Curent Opacity:&nbsp</label><span id="opacity" readonly style="border:0; color: #000000; font-weight:normal;"></span>
<div style="width:90%;left:5px;" id="opacity-slider"></div>
<br>
<!--<p id="info"></p>-->
<!--<br>-->

<b>Pointer Coordinates</b>
<div id="mouse-position" class="well well-sm"></div>
<br>
<div class="error"></div>
<!--<div id="animation_speed">-->
   <!--<label class="formText">Animation Speed</label>-->
   <!--<select  class="style_table form-control" name="fps_table" id="fps_table" style="width: 100%">-->
      <!--<option>Fast</option>-->
      <!--<option>Slow</option>-->
   <!--</select>-->
<!--</div>-->
<!--<br>-->
<!--<a href='#'  id="select_area">Select area!</a><br>-->
<!--<a href='#'  id="download_gif">Download GIF!</a>-->
<div id="metadata" style="display: none" data-var-options="{{var_options}}" data-style-options="{{style_options}}" data-wms-url="{{thredds_wms_url}}" data-thredds-options="{{thredds_options}}" data-stations="{{stations}}"></div>
<input type="text" name="point-lat-lon" id="point-lat-lon" hidden>
<input type="text" name="poly-lat-lon" id="poly-lat-lon" hidden>
<input type="text" name="station" id="station" hidden>
<input type="text" name="shp-lat-lon" id="shp-lat-lon" hidden>
{% endblock %}
{% block app_content %}
<style>
   #map {
   height: 100%;
   width: 100%;
   }
</style>
<div id="map" class="map"></div>
{% endblock %}
{# Use the after_app_content block for modals #}
{% block after_app_content %}
<div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title" id="help-modal-label">Help</h5>
         </div>
         <div class="modal-body">
            <h1>Disclaimer:</h1>
            <p>This application is currently in Beta. It is not to be used for any operational purpose.The SERVIR Project, NASA, and USAID, make no express or implied warranty of this application and associated data as to the merchantability or fitness for a particular purpose. Neither the US Government nor its contractors shall be liable for special, consequential or incidental damages attributed to this application and associated data.</p>
            <p><a href="https://servirglobal.net/Privacy-Terms-of-Use" target="_blank">Privacy and Terms of Use</a></p>
            <p>For questions, comments and/or concerns <a href="https://servirglobal.net/contact-us">contact us</a> (please reference the Air Quality Explorer)</p>
         </div>
         <div class="modal-footer">
            <div align="center" id="logos">
               <div class="logo-image"><a href="http://www.usaid.gov/" target="_blank"><img src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/usaid.png"></a></div>
               <div class="logo-image"><a href="http://appliedsciences.nasa.gov/" target="_blank"><img src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/nasa.png"></a></div>
               <div class="logo-image"><a href="http://www.cilss.bf/" target="_blank"><img src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/cilss.png"></a></div>
               <div class="logo-image"><a href="http://www.rcmrd.org/" target="_blank"><img src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/rcmrd.png"></a></div>
               <div class="logo-image"><a href="http://www.icimod.org/" target="_blank"><img src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/icimod.png"></a></div>
               <div class="logo-image"><a href="http://www.adpc.net/" target="_blank"><img src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/adpc.png"></a></div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--Show TS Plot -->
<div class="modal fade" id="chart-modal" tabindex="-1" role="dialog" aria-labelledby="chart-modal-label">
<div class="modal-dialog" id="modalchart" role="document">
   <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h5 class="modal-title" id="chart-modal-label">Chart</h5>
      </div>
      <div class="modal-body" style="display: table;width:100%">
         <div class="error"></div>
         <div class="chart-wrapper" id="chartonly" style="display: table-cell;float:left;">
            <div class="chart-inner" style="width:100%;height:100%;">
               <div  align="center" id="cube" class="sk-cube-grid hidden">
                  <div class="sk-cube sk-cube1"></div>
                  <div class="sk-cube sk-cube2"></div>
                  <div class="sk-cube sk-cube3"></div>
                  <div class="sk-cube sk-cube4"></div>
                  <div class="sk-cube sk-cube5"></div>
                  <div class="sk-cube sk-cube6"></div>
                  <div class="sk-cube sk-cube7"></div>
                  <div class="sk-cube sk-cube8"></div>
                  <div class="sk-cube sk-cube9"></div>
               </div>
               <div id="plotter" name="plotter" style="height:100%;width:100%;" >
               </div>
            </div>
         </div>
         <div class="forpm25" style="display: table-cell;float: left;width:50%;display: none">
            <div>
               <p align="center"><b>Average PM 2.5 value on <span id="datevalue"></span></b></p>
               <p align="center"><i>Values are averaged from <span id="fromd"></span> to <span id="tod"></span></i></p>
               <div style="display: table;table-layout: fixed;margin:auto">
                  <button class="guagebutton" id="day1_guage" style="display: table-cell">Jan 22</button>
                  <button class="guagebutton" id="day2_guage" style="display: table-cell">Jan 23</button>
                  <button class="guagebutton" id="day3_guage" style="display: table-cell">Jan 24</button>
               </div>
               <div id='guage_chart'></div>
            </div>
            <!--<p>-->
            <!--Fine particulate matter (<2.5µm)</p>-->
            <!--<p>Sources</p>-->
            <!--<p>Main sources are combustion processes (e.g. power plants, indoor heating, car exhausts, wildfires), mechanical processes (e.g. construction, mineral dust) and biological particles (e.g. bacteria, viruses)</p>-->
            <!--<p>Effects</p>-->
            <!--<p>Fine particles can penetrate into the lungs and bloodstream. Short term exposure can cause irritation of the airways, coughing and aggravation of heart and lung diseases, expressed as difficulty breathing, heart attacks and even premature death.</p>-->
            <!--<hr>-->
         </div>
         <div id="pmlabel" style="text-align: center;padding:0 0 15px 0;font-style: italic;display: none">PM2.5 index is based on India Pollution Control Department standard</div>
         <div class="forpm25"  style="display: table;width:100%;display: none">
            <div class="pm25_info" style="background-color: #0c9a50"><label>Air quality is very good</label></div>
            <div class="pm25_info" style="background-color: #8fc24f"><label>Good air quality</label></div>
            <div class="pm25_info" style="background-color: #ffbb0c"><label>Moderate air quality</label></div>
            <div class="pm25_info" style="background-color: #ff9c0b"><label>Air quality began to affect health</label></div>
            <div class="pm25_info" style="background-color: #ff1c12"><label>Affecting health</label></div>
            <div class="pm25_info" style="background-color: #d1250e"><label>Very Hazardous</label></div>
         </div>
         <!--  <div class="forpm25"  id="add_info" style="display: none;">
            <p>Air Quality 3 hour forecast values :</p>
            <table>
            <tr>
               <td>Times</td>
               <td>01:30</td>
                <td >04:30</td>
                <td>07:30</td>
                <td>10:30</td>
                <td>13:30</td>
                <td>16:30</td>
                <td>19:30</td>

                <td>22:30</td>
            </tr>
               <tr>
                  <td id="firstday">22 Jan 2020</td>

                  <td id="day1_0130">Good</td>
                  <td id="day1_0430">Good</td>
                  <td id="day1_0730">Good</td>
                  <td id="day1_1030">Good</td>
                  <td id="day1_1330">Good</td>
                  <td id="day1_1630">Good</td>
                  <td id="day1_1930">Good</td>
                  <td id="day1_2230">Good</td>
               </tr>
               <tr>
                  <td id="secondday">23 Jan 2020</td>

                 <td id="day2_0130">Good</td>
                  <td id="day2_0430">Good</td>
                  <td id="day2_0730">Good</td>
                  <td id="day2_1030">Good</td>
                  <td id="day2_1330">Good</td>
                  <td id="day2_1630">Good</td>
                  <td id="day2_1930">Good</td>
                  <td id="day2_2230">Good</td>
               </tr>
                 <tr>
                  <td id="thirdday">23 Jan 2020</td>

                <td id="day3_0130">Good</td>
                  <td id="day3_0430">Good</td>
                  <td id="day3_0730">Good</td>
                  <td id="day3_1030">Good</td>
                  <td id="day3_1330">Good</td>
                  <td id="day3_1630">Good</td>
                  <td id="day3_1930">Good</td>
                  <td id="day3_2230">Good</td>
               </tr>
            </table>




            </div>-->
      </div>
   </div>
</div>
<!--Show Compare Modal-->
<div class="modal fade" id="compare-modal" tabindex="-1" role="dialog" aria-labelledby="comapre-modal-label">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title" id="compare-modal-label">Compare Layers</h5>
         </div>
         <div class="modal-body">
            <h6>Left Window Options</h6>
            <label>
            Select Parameter
            </label>
            <select  class="run_table" name="lrun_table" id="lrun_table" style="width: 100%">
            </select>
            <label>
            Select Run Date
            </label>
            <select  class="rd_table" name="lrd_table" id="lrd_table" style="width: 100%">
            </select>
            <br>
            <label>
            Select Variable
            </label>
            <select  class="var_table" name="lvar_table" id="lvar_table" style="width: 100%">
            </select>
            <br>
            <h6>Right Window Options</h6>
            <label>
            Select Parameter
            </label>
            <select  class="run_table" name="rrun_table" id="rrun_table" style="width: 100%">
            </select>
            <label>
            Select Run Date
            </label>
            <select  class="rd_table" name="rrd_table" id="rrd_table" style="width: 100%">
            </select>
            <br>
            <label>
            Select Variable
            </label>
            <select  class="var_table" name="rvar_table" id="rvar_table" style="width: 100%">
            </select>
            <br>
            <h6>General Options</h6>
            <label for="range-min" class="formText">Range Min</label>
            <input type="text" class="form-control" id="crange-min" name="range-min" style="width: 100%">
            <label for="range-max" class="formText">Range Max</label>
            <input type="text" class="form-control" id="crange-max" name="range-max" style="width: 100%">
            <label>
            Select a style
            </label>
            <select  class="style_table" name="cstyle_table" id="cstyle_table" style="width: 100%">
            </select>
            <br><br>
            <div>
               <button type="button" class="btn btn-primary" id="btn-add-compare">Add Layers</button>
            </div>
         </div>
      </div>
   </div>
</div>
<!--Show TS Plot -->
<div class="modal fade" id="legend-modal" tabindex="-1" role="dialog" aria-labelledby="legend-modal-label">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title" id="legend-modal-label">Real Time Layer Info</h5>
         </div>
         <div class="modal-body">
         </div>
      </div>
   </div>
</div>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script src="{% static 'aqx_india/js/map.js' %}" type="text/javascript"></script>
{% endblock %}